<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="CERBERUS_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="SeFR_M">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['SeFR_M']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ThFR_SeFR">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ThFR_SeFR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ShFR_ThFR">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShFR_ThFR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="SeFL_M">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['SeFL_M']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ThFL_SeFL">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ThFL_SeFL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ShFL_ThFL">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShFL_ThFL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="SeBR_M">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['SeBR_M']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ThBR_SeBR">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ThBR_SeBR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ShBR_ThBR">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShBR_ThBR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="SeBL_M">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['SeBL_M']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ThBL_SeBL">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ThBL_SeBL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ShBL_ThBL">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShBL_ThBL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
